@model IEnumerable<WebApplication11.Models.Category>

@{
    ViewBag.Title = "Index";
}

@if (Session["AdminStatus"] != null)
{
<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CancelFlg)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CancelFlg)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.CategoryNo }) |
            @Html.ActionLink("Details", "Details", new { id = item.CategoryNo })             
        </td>
        
    </tr>
}
</table>
<p>
    @Html.ActionLink("Back to System Management", "Index", "Administrators")
</p>
}